<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %(REQUEST_FILENAME) !-f
  RewriteCond %(REQUEST_FILENAME) !-d
  RewriteRule (listar) listarAgendas.php [NC]
  RewriteRule (add) addEquipamento.php [NC]
  RewriteRule (professor) professor.php [NC]
  RewriteRule (curso) curso.php [NC]
</IfModule>